.taskCard {
  display: grid;
  grid-template-columns: 1fr 120px 120px 120px;
  column-gap: 2rem;
  align-items: center;
  transition: background-color 0.2s ease;
}
.taskCard:hover {
  background-color: #f9fafb;
}
.detailLink {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 1.5rem;
  transition: color 0.2s ease;
}
.detailLink:hover .taskTitle {
  color:rgb(56, 92, 202);
}
.taskTitle {
  font-weight: 600;
  color: #111827;
  margin: 0;
}
.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin: 1.5rem 0;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.completed {
  background-color: #d1fae5;
  color: #065f46;
}
.incomplete {
  background-color: #fef3c7;
  color: #92400e;
}
.highPriority {
  background-color: #fee2e2;
  color: #991b1b;
}
.mediumPriority {
  background-color: #fef3c7;
  color: #92400e;
}
.lowPriority {
  background-color: #d1fae5;
  color: #065f46;
}
.defaultPriority {
  background-color: #e5e7eb;
  color: #374251;
}
.dueDate {
  color: #6b7280;
}